.game-board{
  display: inline-block;
  margin-top: 20px;
  border: 2px solid #333;
  background-color: #f1f1f1;
}

.game-row{
  display: flex;
}

.game-cell{
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
}

.snake{
  background-color: #28a745;
}

.food{
  background-color: #dc3545;
}

.speed-control{
  width: 40%;
  margin: 0 auto;
}

.game-over{
  width: 40%;
  margin: auto;
}